<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace는 Mapper 경로 + 인터페이스명  id는 Mapper의 함수와 일치해야함  -->
<mapper namespace="edu.kosmo.mjy.mapper.MemberMapper">
	<insert id="memberJoin">
		insert into member(userid, password, phone, miliage, name) values(#{userid}, #{password}, #{phone},
		0,#{name})
	</insert>
	

	<select id="memberLogin" resultType="edu.kosmo.mjy.vo.MemberVO"> <!-- resultType 패키지명 + 반환 타입 -->
		 select userid, password, miliage from member where userid = #{userid}
	</select>



  
</mapper>




